@charset "UTF-8";

/*
em HTML é id = em CSS é # (só pode um elemento por documento HTML)
em HTML é class = em CSS é . (pode vários elementos)
*/
body{
    background-color: rgb(181, 215, 218);
    font-family: Arial, Helvetica, sans-serif;
}
h1{
    color: cadetblue;
    background-color: aliceblue;
}
h1#principal{
   text-align:center;
   background-color: cadetblue;
   color: aliceblue;   
}
h2{
    color: rgba(31, 109, 112, 0.986);
    text-shadow: 1px 0px 0px black;
}
.basico{
    color: rgb(145, 177, 219);

}
.intermediario{
    color: rgb(106, 162, 235);

}
.avançado{
    color: rgb(14, 92, 236);

}
.levedestaque{
    background-color: rgba(161, 247, 3, 0.178);
}
.destaque{
    background-color: rgb(218, 238, 148);
}